.result {
    text-align: center;
}

.btn {
    background-color: lightblue;
}

.selectedChoice {
    background-color: lightblue;
}

.choice:hover {
    cursor: pointer;
    -moz-box-shadow: inset 0 0 2px #0000009a;
    -webkit-box-shadow: inset 0 0 2px #0000009a;
    box-shadow: inset 0 0 2px #0000009a;
}

.speech:hover {
    cursor: pointer;
}

.instructions:hover {
    cursor: pointer;
}

.pagination {
    margin: 4px 0 0 0;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.pagination ul {
    padding: 0;
}

.pagination li {
    display: inline-flex;
    padding: 1px;
}

.pagination li a {
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding: 3px 8px;
    text-decoration: none;
    color: #4ba6c3;
}

.pagination li a.active,
.pagination li a:hover {
    background-color: #4ba6c3;
    color: #fff;
}

.pagination ul {
    display: inline;
}